{% extends "bootstrap/base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">


    {% block title %} Your's Blog {% endblock %}

</head>
{% block content %}
<body  style="background-color:lightgray;">
    <section class="home-page-section" style="text-align:center;position:relative;top:200px;">
        <h1>Your Blog!</h1><br>
        <div class="home-form">
            <form action="{{ url_for('login') }}" method="post">
                <input type="text" placeholder="username" name="username"><br>
                <br>
                <input type="password" placeholder="password" name="password"><br>
                <br>
                <input type="submit" value="login">
            </form>
        </div>

        <h3>Don't have an account?<a href="{{ url_for('signup') }}">Sign up</a></h3>
        {% endblock %}
    </section>

</body>
