<html>
    <head>
        <title>Harsh's Blog</title>

    </head>
    <body>
        <section class="section1">
            <div class="div1-contact">

                {% include "navbar.html" %}

                <div class="writing-portion-div1">
                    <div class="writing-portion-div2">
                        <h1 class="h1">Succesfully sent sms.</h1>
                    </div>
                </div>
            </div>
        </section>
        {% include "footer.html" %}
    </body>
</html>